@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600&display=swap");
body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: "Poppins";
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*----------------------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__container {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .header__name {
    display: none;
  }
}

.header__nav {
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .nav__list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__link {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  margin: 0px 3.25em 0px 0px;
}

.nav__link:last-child {
  margin: 0px 1.25em 0px 0px;
}

.nav__link a {
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.nav__link a:hover {
  color: #f82291;
}

@media (max-width: 768px) {
  .nav__link {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .nav__link {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .nav {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.hello__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .hello__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hello__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.hello__textbox {
  margin: 0 35px 74px;
}

@media (max-width: 991.98px) {
  .hello__textbox {
    margin: 0;
    text-align: center;
  }
}

.hello__welcome {
  font-weight: 300;
  font-size: 1.5875rem;
  line-height: 1.49606em;
  letter-spacing: 0.36em;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .hello__welcome {
    font-size: 1.125rem;
    line-height: 1.44;
    letter-spacing: 0.36em;
    text-align: center;
    margin: 0px 0px 0.55em 0px;
  }
}

.hello__title {
  font-weight: 600;
  font-size: 4.19375rem;
  line-height: 1.5;
}

@media (max-width: 479.98px) {
  .hello__title {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}

.hello__developer {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin: 0px 0px 2.6em 0px;
}

@media (max-width: 991.98px) {
  .hello__developer {
    font-size: 0.85rem;
    line-height: 1.5;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin: 0px 0px 2.42em 0px;
  }
}

.hello__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
  padding-top: 38%;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: -10px 10px 0px #f82291;
          box-shadow: -10px 10px 0px #f82291;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5% 0px 0px 0px;
}

.hello__image img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991.98px) {
  .hello__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 0 0 70% 0;
    width: 70%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 5% 0px 5% 0px;
  }
}

@media (max-width: 479.98px) {
  .hello__image {
    padding: 0 0 86% 0;
    width: 86%;
  }
}

.btn {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  padding: 0.644em 1.77em;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8227f), to(#f82291));
  background: linear-gradient(180deg, #f8227f 0%, #f82291 100%);
  border-radius: 10px;
}

@media (max-width: 991.98px) {
  .btn {
    font-size: 1.125rem;
    line-height: 1.44;
    letter-spacing: 0.05em;
  }
}
