$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

//ЦВЕТА
$backgroundColor: #1f1f1f;
$fontColor: #fff;
$accentColor: rgb(248, 34, 145);

//--------------- ИМПОРТ ШРИФТОВ -------------------------//
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600&display=swap");
$fontFamily: "Poppins";
